@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #EFF2FB;
    position: relative;
    display: flex;
}

.likers {
    display: flex; 
    align-items: center; 
    cursor: pointer;
    margin-top: 20px;
}

.likers img {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.likers p {
    font-size: 15px;
    color: gray;
}

.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.container.opacity {
    opacity: 10%;
    transition: filter 0.5s ease-in-out;
    pointer-events: none;
}

#menu{
    background: #162F65;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo{
    display: flex;
    align-items: center;
    font-size: 90%;
    color: #fff;
    padding: 30px 0 0 20px;
}

#menu .items{
    margin-top: 30px;
}

#menu .items li{
    list-style: none;
    padding: 10px;
    transition: 0.3s ease;
}

#menu .items li:hover{
    background: #E8C766;
    cursor: pointer;
}

#menu .items li i{
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
    color: #162F65;
}

#menu .items li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease;
}

#menu-btn{
    display: none;
    cursor: pointer
}

#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
    padding-top: 70px; /* Adjust based on the height of your navigation bar */
}

#interface .navigation {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    cursor: pointer;
}

#interface .navigation .profile i {
    font-size: 19px;
    font-weight: 400;
    margin-left: 880px;
    justify-content: flex-end;
}

.i-name{
    color:#2D55B4;
    padding: 20px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.i-nameee{
    color:#ABAEB7;
    padding: 1px 1px 0 30px;
    font-size: 15px;
}

.values{
    padding: 30px 30px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box{
    background: #fff;
    width: 235px;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 10%;
    text-align: center;
    color: #000000;
    background: #E8C766;
    margin-right: 15px;
}

.values .val-box h3{
    font-size: 20px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 14px;
    color: #828997;
}

.board{  
    display: flex; 
    background-color: #EFEFF2;
}

.board-1 {
    width: 230%;
    margin-left: 30px;
    margin-bottom: 30px;
    overflow: auto;
    background-color: #EFEFF2;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288); 
}

table{
    border-collapse: collapse;
}

.forum-section {
    display: flex;
    flex-direction: column; 
    padding: 20px 20px 0 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.forum-section .fas{
    margin-left: 180px;
}

.forum-section2 table {
    width: 100%; 
    border-collapse: collapse; 
    border-top: 1px solid #BEB2B2;
}

.forum-section2 table td {
    width: 50%; 
    text-align: center;
    cursor: pointer;
}

.forum-section2 table tr:first-child td {
    border-top: none;
}

.forum-section2 i {
    font-size: 25px;
    color: #8b8e91;
}

.forum-section2 table tr:first-child td:hover {
    background-color: #d1d5db5e; 
}

textarea {
    width: 85%;
    margin-left: 30px;
    height: auto;
    resize: none; 
    border: none; 
    padding: 0;
    background-color: transparent; 
    font-family: inherit; 
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    outline: none;
    overflow: hidden; 
    /* -webkit-appearance: none;  */
}

.btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    transition: transform 0.2s;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 1000; 
    transition: all 0.5s ease-in-out;
}

.popup hr {
    border-color: #C2C2C2;
}

.open-popup {
    display: block;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
}

.popup h2{
    font-size: 38px;
    font-weight: 800;
    margin: 20px;
}

.popup button {
    width: 95%;
    padding: 10px 0;
    margin: 10px;
    background-color: #162F65;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.create {
    display: flex;
    align-items: center;
}

.create h3{
    color: #162F65;
    padding: 15px 20px 10px;
}

.create i {
    position: absolute; 
    top: 0; 
    right: 0;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}

.popup2 {
    width: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 1000; 
    transition: all 0.5s ease-in-out;
}

.popup2 hr {
    border-color: #C2C2C2;
}

.open-popup2 {
    display: block;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
}

.popup2 h2{
    font-size: 38px;
    font-weight: 800;
    margin: 20px;
}

.popup2 button {
    width: 95%;
    padding: 10px 0;
    margin: 10px;
    background-color: #162F65;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.edit {
    display: flex;
    align-items: center;
}

.edit h3{
    color: #162F65;
    padding: 15px 20px 10px;
}

.edit i {
    position: absolute; 
    top: 0; 
    right: 0;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}

.left-section,
.center-section,
.right-section {
    margin-bottom: 10px; 
}

.forum-section .left-section i {
    margin-left: 250px;
    cursor: pointer;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    
}

.profile-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    color: #2D55B4;
    font-weight: 500;
}

.profile-course {
    color: #ABAEB7;
    font-size: small;
}

.profile-info img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px; 
}

.left-section2 {
    padding-left: 10px; 
    display: flex;
    align-items: center;
}

.profile-info2 {
    display: flex;
    align-items: center;
}

.profile-info2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name2 {
    color: #2D55B4;
    font-weight: 500;
    font-size: 17px;
    margin-top: 20px;
}

.profile-course2 {
    color: #ABAEB7;
    font-size: small;
}

.profile-info2 img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px; 
    margin-top: 20px;
}

.center-section {
    margin-top: 20px;
    margin-left: 50px;
}

.center-section2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.center-section3 {
    display: flex;
    flex-direction: column; /* Ensures that items are stacked vertically */
}

.center-section3 .flex {
    display: flex;
    align-items: center;
}

.small-image {
    width: 30px; 
    margin: 10px; 
}

.post-grad {
    font-weight: 600;
    margin: 0 0 20px 10px;
}

.right-section {
    justify-content: flex-end;
    margin-bottom: 20px;
}

.post-button {
    padding: 5px 20px;
    background-color: #2D55B4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-button:hover {
    background-color: #2D55B4;
}

.post-button:active{
    transform: scale(0.95);
}

.image-posted {
    width: 100%; 
    height: 100%; 
}

.add {
    display: flex;
    width: 95%;
    align-items: center;
    border: 1px solid #2D55B4;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.add h4 {
    font-weight: 450;
}

.add img {
    width: 40px; 
    height: 40px;
    margin-left: 48%; 
    cursor: pointer;
}

/* EVENT CARD */

.card {
    /* position: relative;
    display: flex; */
    flex-direction: column; 
    width: 80%;
    height: auto;
    margin-left: 45px;
    /* min-width: 0; */
    /* word-wrap: break-word; */
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.card-body:hover {
    box-shadow: 0 0 10px #E8C766; 
    border-radius: 15px;
}

.card-body-announcement {
    background-color: #162F65;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    height: 80px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.announcement-info {
    height: auto;
    background-color: rgb(255, 255, 255);
    border-style: double;
    border-color: #F2DB98;
    color: #000;
    margin: 10px;
    display: flex;
    /* overflow-y: auto; /* Add scrollbar for vertical overflow */
    /* transition: transform 0.3s ease, background-color 0.3s ease; Added background-color transition */
} 

.announcement-info:hover {
  transform: translateY(-5px);
  color: #162F65;
  background-color: #F2DB98;
}

.title-desc {
  margin: 10px;
}

.p-title {
    font-size: large;
    font-weight: bold;
  }
  
  .fa-solid {
      font-size: 30px;
      margin-left: 10px;
      margin-top: 10px;
  }

.board-1 thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #fff;
    text-align: center;
    padding: 10px;
}




tbody tr td{
    padding: 10px 15px;
    color: white;
}

.board-2 h3{
    font-weight: 500;
    font-size: 13px;
    margin-left: 15px;
}

.board-2 p{
    font-weight: 400;
    font-size: 10px;
    color: #ABAEB7;
    margin-left: 15px;
}

.board-2 .event{
    display: flex;
    justify-content: flex-start;
}

.board-2 .event i{
    font-size: 20px;
    width: 30px;
    height: 35px;
    line-height: 35px;
    border-radius: 40%;
    text-align: center;
    color: #000000;
    background: #EFF2FB;
}

@media (max-width: 769px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }
    #menu.active {
        left: 0px;
    }
    #menu-btn {
        display: initial;
    }
    #interface {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }
    #menu.active~ #interface {
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;

    }
    #interface .navigation {
        width: 100%;
    }
    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }
    .values .val-box {
        padding: 10px 10px;
        margin: 10px 10px 10px 0;
    }
    .board {
        width: 100%;
        padding: 30px 0 10px 0;
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
}

@media (max-width:477px) {
    #interface .navigation {
        padding: 15px;
    }
    .i-name {
        padding: 10px 15px 0 15px;
    }
    .values {
        padding: 10px 15px 0 15px;
    }
    .values .val-box {
        width: 100%;
        margin: 0;
    }
    .board {
        margin: 0 15px 15px 0;
    }
}

.profile {
    position: relative; 
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 15px); 
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; 
    width: 400px;
}


.notification-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.notification-dropdown ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #EFF2FB;
   
}

.notification-dropdown ul li:hover {
    background-color: #ffffff; 
    cursor: pointer; 
}

.notification-dropdown ul li .left-side {
    display: flex;
    flex-direction: column;
}

.notification-dropdown ul li .left-side h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.notification-dropdown ul li .left-side p {
    margin: 0;
    font-size: 14px;
}

.notification-dropdown ul li .right-side {
    font-size: 12px;
    color: #888;
}


.h4-notif{
    margin-bottom: 7px;
}

.hr {
    color: #ccc;
}

.popup3 {
    width: 600px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 1000; 
    transition: all 0.5s ease-in-out;
    overflow: auto; 
}

.popup3::-webkit-scrollbar {
    width: 10px; 
}

.popup3::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.popup3::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}

.popup3::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.open-popup3 {
    display: block;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    overflow: auo;
}

.popup3 h3{
    font-size: smaller;
    font-weight: 400;
    color: gray;
    margin: 20px;
}

.like i {
    position: absolute; 
    top: 0; 
    right: 0;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}

.like {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.btn {
    position: relative;
    padding: 20px; 
    border: none;
    outline: none;
    margin-right: 0; 
}

.btn::after {
    content: '';
    position: absolute;
    width: 75%;
    margin-left: 10px;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: #5E91FF;
}

.btn img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.btn p {
    color: #5E91FF;
    font-size: 17px;
}

.like .btn img,
.like .btn p {
    display: inline; 
    vertical-align: middle;
}

.popup4 {
    width: 600px;
    height: 550px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 1000; 
    transition: all 0.5s ease-in-out;
}

.popup4 hr {
    border-color: #C2C2C2;
}

.open-popup4 {
    display: block;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
}

.popup4 h2{
    font-size: 38px;
    font-weight: 800;
    margin: 20px;
}

.popup4 button {
    width: 360px;
    padding: 10px 0;
    margin-left: 20px;
    background-color: #162F65;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 15px;
}

.comment h3{
    color: #162F65;
    padding: 15px 20px 10px;
    margin: 0;
}

.comment i {
    position: absolute; 
    top: 0; 
    right: 0;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}

.left-section4 {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    margin-right: 30px;
}

.profile-name4 {
    color: #2D55B4;
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
}

.profile-course4 {
    color: #ABAEB7;
    font-size: 12px;
    margin-left: 5px;
}

.profile-info4 img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-left: 15px; 
}

.user-details4 {
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 20px;
}

.info4 .time {
    display: inline-block;
    margin-right: 10px;
    font-size: small;
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}

.info4 .time:first-child {
    margin-left: 80px;
    font-weight: 350;
}

.profile-comment {
    color: #666;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
}

.user-detailsss {
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    padding: 5px;
    border-radius: 20px;
    width: 510px;
}

.user-detailsss input.profile-comment {
    flex: 1; 
    color: #666;
    font-size: 15px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    outline: none;
}

.user-detailsss i.fa-paper-plane {
    color: #228BE6;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-name4 {
    color: #2D55B4;
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
}

.profile-course4 {
    color: #ABAEB7;
    font-size: 12px;
    margin-left: 5px;
}

.profile-info4 img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-left: 15px; 
}

.user-details4 {
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 20px;
}

.info4 .time {
    display: inline-block;
    margin-right: 10px;
    font-size: small;
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}

.info4 .time:first-child {
    margin-left: 80px;
    font-weight: 350;
}

.left-section5 {
    position: fixed;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    margin-top: 25px;
    padding-bottom: 15px;
}

.popup4 {
    overflow: auto;
    padding: 10px;
}

.popup0 {
    width: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 1000; 
    transition: all 0.5s ease-in-out;
}

.popup0 hr {
    border-color: #C2C2C2;
}

.open-popup0 {
    display: block;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
}

.popup0 h2{
    font-size: 38px;
    font-weight: 800;
    margin: 20px;
}

.popup0 button {
    width: 360px;
    padding: 10px 0;
    margin-left: 20px;
    background-color: #162F65;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}