@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100%;
} 

.combined-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: #F2DB98;
    height: 7%;
}

.header-left,
.header-right {
    display: flex;
    margin: 5%;
}

.contact-info,
.social-icons {
    margin-right: 10px; 

}

.big-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #162F65;
    height: 10%;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 30px; 
    margin-right: 10px;
}

.logo .logo-name {
    color: #fff;
}


.logo span{
    color: #fff;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

.navigation a{
    color: #fff;
    text-decoration: none;
}

.navigation a.active {
    text-decoration: underline; 
    
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation ul li {
    margin-right: 20px;

}

.login-button{
    margin-right: 1%;
}

.login-button a {
    padding: 10px 20px;
    background-color: #F2DB98;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.login-button a:hover {
    background-color: #ebc860;
}




.bg-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #f2f2f2;
    padding: 0;
    height: 80%;
    
}

.left-content {
    flex: 1; 
    margin-left: 100px;  
    margin-right: -60px;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    text-align: center; /* Change to center */
    background-color: #162F65;
    height: 80%;
    width: 40%;
}

.right-content img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.right-content img:hover {
    transform: scale(1.1);
}


.left-content h2{
    color: #2D55B4;
    font-weight: bold;
    font-size: 40px;
    margin-top: 1px
}

.left-content p{
    color: #ABAEB7;
    padding-right: 280px; 
    border-radius: 5px; 
    /* margin: 5px; */
    margin-top: 15px;
    margin-bottom: 20px;
}

button{
    background-color: #F2DB98;

}

.left-content button {
    background-color: #F2DB98;
    color: #000;
    padding: 10px 40px;
    border: 1px solid #F2DB98;
    border-color: #3f3f3f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition effects */
}

.left-content button:hover {
    background-color: #ebc860;
    transform: scale(1.05);
}


.values{
    background-color: #162F65;
    padding: 30px 30px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;

}

.values .val-box {
    position: relative; 
    width: 235px;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 130px;
    background-color: #162F65;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}

.values .val-box:hover {
    background-color: #132757; 
    transform: scale(1.05); 
}

.values .val-box i {
    font-size: 55px;
    padding-top: 5px;
    width: 100px;
    height: 100px;
    line-height: 60px;
    border-radius: 10%;
    text-align: center;
    align-content: center;
    color: #000000;
    background: #E8C766;
    margin-right: 15px;
    /* margin-top: 10px; */
}

.values .val-box h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-top: 20px;
}


.values .val-box i{
    font-size: 55px;
    padding-top: 5px;
    width: 100px;
    height: 100px;
    line-height: 60px;
    border-radius: 10%;
    text-align: center;
    align-content: center;
    color: #000000;
    background: #E8C766;
    margin-right: 15px;
    margin-top: 10px;
}

.values .val-box h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-top: 20px;
    position: relative; 
}

.values .val-box p{
    display: none;
}

.values .val-box h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease; 
    transform: scaleX(0); 
}

.values .val-box h3:hover::after {
    transform: scaleX(1); 
}


.values .val-box span{
    font-size: 14px;
    color: #828997;
}

.offers {
    text-align: center;
    background-color: #F2DB98;
    padding-bottom: 40px; /* Add padding to avoid overlap */
    overflow: auto;
}

.offers h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #162F65;
    padding: 25px;
    padding-top: 40px;
    font-weight: 600;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}

.offer {
    background-color: #EFF2FB;
    width: 300px;
    height: 350px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.offer:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
}

.button-more {
    background-color: #2D55B4;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 25px;
}

.button-more:hover {
    background-color: #162F65;
    transform: translateY(-2px); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
}

.offer img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.offer-title {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: 500;
}

/* .button-more{
    background-color: #2D55B4;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

.button-more:hover{
    background-color: #162F65;
} */

.testimonials {
    display: flex;
    flex-direction: column;
    background-color: #EFF2FB;
}


.testimonials h2{
    
    font-size: 40px;
    margin-bottom: 20px;
    color: #162F65;
    padding: 25px;
    padding-top: 25px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
}

.testimonial-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:#EFF2FB;
    
}

.row-2 {
    background-color: #162F65;
    color: #fff;
}

.testimonial-column {
    flex: 1;
    padding: 20px;
    position: relative;
}

.testimonial-column {
    flex: 1;
    padding: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.testimonial-column:hover {
    background-color: #FFF; 
    color: #000; 
}

.testimonial-row.row-1 .testimonial-column:hover h3 {
    color: #000; 
}

.testimonial-column h3{
    margin-top: 20px;
    text-align: center;

}

.testimonial-column .pos{
    text-align: center;
    margin-top: -20px;
}

.testimonial-column h6, span{
    text-align: center;
}

.testimonial-column.founder {
    background-color: #162F65;
    border-radius: 15px; 
    padding: 50px;
}

.testimonial-column .testi-role{
    text-align: center;
    margin-top: -25px;
}


.testimonial-column.president {
    background-color: #EFF2FB;
    border-radius: 15px;
    padding: 50px;
}

.testimonial-column.president .testi-role-1, h3{
    color: #fff;
    text-align: center;
    margin-top: -25px;
}

.testimonial-column.ma h3{
    color: #fff;
}

.testimonial-column img {
    width: 80%;
    height: 100%;
    margin: 10px 40px 20px 50px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.testimonial-column img:hover {
    transform: scale(1.1);
}

.testimonial-column.ma h3{
    color: #fff;
}

.testimonial-column p {
    padding: 20px;
    text-align: justify;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #F2DB98;
}

.video-container iframe {
    width: 670px; 
    height: 400px; 
}


@media only screen and (max-width: 1028px) {

    .phone-number,
    .email {
        font-size: 12px; 
    }

    .contact-info i{
        font-size: 12px;
    }


    .social-icons {
        display: none;
    }
    
    .login-button {
        display: none;
    }

    .bg-container .right-content{
        display: none;
    }

    .big-header img{
        width: 25;
    }

    .big-header span{
        font-size: 12px;
    }
    .big-header li{
        font-size: 11px;
    }

    .bg-container {
        padding: 20px;
        height: 70%;
    }

    .bg-container .left-content h2{
        font-size: 25px;
    }

    .bg-container .left-content p{
        font-size: 15px;
        text-align: justify;
    }

    .bg-container .right-content {
        display: none;
    }

    .values {
        flex-direction: column;
        gap: 20px;
    }

    .values .val-box {
        width: 80%;
        margin: 0 auto;
    }

    .values .val-box p{
        display: block;
    }

    .values .val-box i{
        margin-top: 10px;
    }

    .offers h2{
        font-size: 30px;
    }

    .testimonials h2{
        font-size: 30px;
    }

    .testimonial-row {
        flex-direction: column;
        gap: 20px;
    }

    .testimonial-row img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 100%;
    }

    .video-container iframe {
        width: 100%;
        height: auto;
    }

    .left-content {
        margin: 2px;
        margin-right: -250px;
    }

    .left-content h2 {
        font-size: 30px;
    }

    .right-content {
        overflow: hidden ;
        margin-left: auto;  
        text-align: right; 
        height: 50px;
        width: 40%;
        }

    .right-content img {
        width: 70%;
        margin: 10px;
        }

    .values .val-box {
        margin-left: 0;
        width: 40%;
    }

    .offer-container {
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .offer {
        width: 45%;
        margin: 10px;
        
    }

    .values{
        background-color: #162F65;
        padding: 30px 30px 30px;
        display: flex;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .values .val-box {
        position: relative; 
        width: 100%;
        padding: 10px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s; 
    }

    .values .val-box i{
        margin-left: 10px;
        margin-top: -1px;
    }

    .values .val-box h3{
        color: #000;
        margin-left: 5px;
        margin-right: 10px;
    }

    .values .val-box p{
        color: #162F65;
        margin-top: -5px;
    }

    .values .val-box:hover {
        background-color: #EFF2FB; 
        transform: scale(1.05); 
    }

    .offer {
    background-color: #EFF2FB;
    width: 300px;
    height: 350px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    }

    .video-container iframe{
        height: 100%;
        width: 100%;
    }


}

@media only screen and (max-width: 480px) {
    .offer-container {
        margin-left: 10px;
        margin-right: 10px;
    }
    .offer {
        width: 90%;
        margin: 10px;
    }
}

@media only screen and (max-width: 300px) {
   
}



/* ABOUT PAGE */

.container-about{
    height: 50%;
}

.about-alumni{
    background: #fff;
    height: 30%;
    margin: 100px;
    margin-top: 50px;
}

.about-alumni h2{
    color: #2D55B4;
    font-weight: 600;
    font-size: 50px;
}

.about-alumni p {
    margin-right: 400px; 
    text-align: justify;
    letter-spacing: -0.5px;
    
}

.mission-vision-phil{
    background-color: #162F65;
    padding: 20px;
}

.mission-vision-phil p{
    color: #fff;
}

.mission, .vision, .philosophy {
    background-color: #F2DB98;
    color: #162F65;
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.mission-vision-philosophy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.mission-vision-philosophy p{
    color: #fff;
}

.mission {
    order: -1;
    flex: 1;
    max-width: 250px;
    margin-left: 41%;
    align-items: center;
    border-radius: 5px;
}

.mission h3, .vision h3, .philosophy h3{
    margin-top: 3px;
}

.vision-philosophy {
    display: flex;
    justify-content: center;
}

.vision, .philosophy {
    flex: 1;
    max-width: 250px;
    border-radius: 5px; 
}

.mission:hover p, .vision:hover p, .philosophy:hover p {
    display: block;  
}

.mission p, .vision p, .philosophy p {
    display: none;
}

.person-behind .title-person {
    text-align: center;
    font-size: 30px;
    padding: 25px;
    margin-top: 20px;
    color: #2D55B4;
    transition: font-size 0.3s; 
}

.person-behind .title-person h3 {
    font-weight: 600;
}

.person-behind .title-person:hover {
    font-size: 35px; 
}




.testimonial-row.row-1 .pi{
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:#EFF2FB;
    
}

.row-1 {
    background-color: #162F65;
    color: #fff;
}

.column {
    flex: 1;
    padding: 20px;
    position: relative;
}

.column {
    flex: 1;
    padding: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.column:hover {
    background-color: #FFF; 
    color: #000; 
}


.column h3{
    margin-top: 20px;
    text-align: center;
}

.column h6, span{
    text-align: center;
}

.column.founder {
    background-color: #F2DB98;
    border-radius: 15px;
    
   
}

.column .role{
    text-align: center;
    margin-top: -25px;
}


.column.president {
    background-color: #F2DB98;
    border-radius: 15px;
}

.column.president .role-1, h3{
    color: #000;
    text-align: center;
    margin-top: -25px;
}



.column img {
    width: 70%;
    height: 100%;
    margin: 10px 40px 0 80px;
    border-radius: 15px;
}

.column img {
    width: 70%;
    height: 100%;
    margin: 10px 40px 0 80px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.column img:hover {
    transform: scale(1.1);
}



.column p {
    /* background-color: #fff; */
    padding: 20px;
    text-align: justify;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #F2DB98;
    /* position: relative;
        overflow: hidden; */
}

.img-container img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.9)); 
    transition: transform 0.3s ease; 

}

.img-container img:hover {
    transform: scale(1.05); 
}

@media only screen and (max-width: 1028px) {
    .about-alumni{
        margin-left: 40px;
        /* margin-top: 90px; */
        height: 50%;
    }

    .about-alumni h2 {
        font-size: 2rem;
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .about-alumni p {
        font-size: 15px;
        margin-right: 0;
        max-width: 100%;
        letter-spacing: -0.5px;
    }

    .mission, .vision, .philosophy {
        max-width: 90%;
    }

    .row {
        flex-direction: column;
        padding: 20px;
    }

    .column img {
        width: 80%;
    }

    .column p {
        max-width: 90%;
        margin: 0 auto;
        letter-spacing: normal;
    }

    .column {
        flex: 1;
        padding: 20px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .column:hover {
        width: 90%;
        background-color: #FFF; 
        color: #000; 
        /* letter-spacing: normal; */
    }
}

@media only screen and (max-width: 480px) {
    .about-alumni{
        margin: 40px;
        margin-top: 50px;
        font-size: 13px;
    }
    .about-alumni h2 {
        font-size: 1.5rem;
    }

    .mission, .vision, .philosophy {
        padding: 10px;
    }

    .person-behind .title-person {
        font-size: 1.5rem;
    }

    .column img {
        width: 100%;
        height: 100%;
        display: block; 
        margin: 0 auto; 
        
    }

    .column p {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    .img-container img{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 315px) {
    .about-alumni{
        margin: 40px;
        margin-top: 50px;
        font-size: 10px;
    }
    .about-alumni h2 {
        font-size: 1.5rem;
    }

    .about-alumni p {
        font-size: 10px;
    }
}


/* SERVICES */
.services{
    background-color: #EFF2FB;
    height: 62%;
    padding: 80px; 
}

.service-adj {
    padding: 20px; 
}

.service-adj h2 {
    color: #2D55B4;
    font-weight: 600;
    font-size: 50px; 
}

.service-adj p {
    margin-right: 400px;
    text-align: justify; 
}


.feature {
    background-color: #162F65;
    padding: 20px;
    display: flex;
    flex-direction: column; 
}

.wrapper {
    display: flex;
    flex: 1; 
    margin-bottom: 40px; 
    margin-left: 100px;
    margin-right: 100px;
}

.wrapper:hover .right p {
    color: #162F65;
}

.feature h2{
    text-align: center;
    padding: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}


.left, .right {
    /* border: 1px solid black;  */
    border-radius: 10px;
    flex: 1; 
}

.left {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-right: 35px;
    flex: 0 0 25%;
    margin-left: 50px;
    background-color: #F2DB98;
    transition: transform 0.3s ease, background 0.3s ease; /* Transition properties */
}

.left:hover {
    transform: translateY(-10px); /* Move element up */
    background: linear-gradient(135deg, #F2DB98, #E1C582); /* Change background gradient */
}

.left img {
    height: 120px;
    width: 50%;
    padding: 20px;
    margin: 20px;
    margin-top: -30px
}


.left p{
    color: #162F65;
    margin-top: -20px;
    font-weight: 500;
}

.right{
    margin-right: 50px;
    background-color: #EFF2FB;
}

.right p{
    padding: 60px;
}

.row-service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #EFF2FB;
}

.column-service {
    flex: 1;
    padding: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.column-service.p{
    margin-left: -10px;
}

.column-service:focus {
    background-color: #FFF;
    outline: none; 
}

.column-service img {
    width: 70%;
    height: 100%;
    margin: 10px 40px 0 80px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.column-service img:hover {
    transform: scale(1.1);
}

.column-service p {
    padding: 20px;
    text-align: justify;
}


@media only screen and (max-width: 1028px) {    
    .services {
        background-color: #EFF2FB;
        height: auto; 
        padding: 20px; 
    }
    
    .service-adj h2 {
        color: #2D55B4;
        font-weight: 600;
        font-size: 25px; 
    }
    
    .service-adj p {
        margin: 0 auto; 
        max-width: 90%; 
        text-align: justify; 
        font-size: 14px;
        letter-spacing: -0.5px;
        padding: 10px 0;
        margin-left: 2px;
    }

    .wrapper {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .left {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .left img {
        /* width: 50%; */
        height: auto;
        margin: 0 auto;
    }
    
    .right {
        margin: 0;
    }
    
    .feature h2 {
        padding: 20px;
    }
    
    .row-service {
        flex-direction: column;
        align-items: center; 
    }

    .column-service {
        padding: 20px;
        text-align: center; 
    }

    .column-service img {
        display: block; 
        margin: 0 auto; 
        width: 100%;
        max-width: 300px; 
        margin-bottom: 20px;
    }

    .column-service p {
        text-align: justify;
    }

    
   
}


@media only screen and (max-width: 480px) {
    .service-adj{
        font-size: 10px;
    }

    .feature h2 {
        font-size: 20px;
    }
    
    .left img {
        width: 40%;
    }
    
    .right p {
        padding: 20px;
    }
    
    .column-service img {
        margin: 10px auto;
        width: 100%;
        height: 100%;
    }

    .services {
        background-color: #EFF2FB;
        height: auto; 
        padding: 20px; 
    }
    
    .service-adj h2 {
        color: #2D55B4;
        font-weight: 600;
        font-size: 25px; 
    }
    
    .service-adj p {
        margin: 0 auto; 
        max-width: 90%; 
        text-align: justify; 
        font-size: 15px;
        letter-spacing: -0.5px;
        padding: 10px 0;
        margin-left: 2px;
    }
    
}


.footer {
    background-color: #162F65;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-name {
    margin-top: 10px;
}

.footer img{
    width: 50px;
}

.footer a{
    color: #F2DB98;
    font-size: 15px;
}

/* privacy notice */

.pri-notice {
    background-color: #EFF2FB;
   height: auto;
}

.privacy-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}

.notice {
    background-color: white;
    margin: auto; 
    width: 70%;
    height: 100%;
    margin-bottom: 70px;
    border-radius: 5px;
}

.notice h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #162F65;
}

.notice p, h4{
    margin: 20px;
}

.notice h4{
    margin: 20px;
    margin-bottom: 1px;
    color: #162F65;
}

.notice u{
    color: #162F65;
}

.notice .data-info{
    margin-top: 1px;
    text-indent: 10px;
    margin-bottom: 1px;
}

.notice ul{
    width: 80%;
    margin-top: 5px;
    margin-left: 80px;
}

.notice strong{
    font-weight: 600;
}

.notice .controller p, 
.notice .purpose p,
.notice .use p,
.notice .opt-out p, 
.notice .data-security p,
.notice .updates p{
    margin-top: 1px;
    text-align: justify;
    margin-left: 30px;
    width: 92%;
}

@media only screen and (max-width: 768px) {
    .notice {
        width: 90%; 
    }

    .notice h2 {
        font-size: 24px;
    }

    .notice p,
    .notice h4,
    .notice u {
        margin: 10px; 
    }

    .notice ul {
        margin-left: 30px; 
    }

    .notice .controller p,
    .notice .purpose p,
    .notice .use p,
    .notice .opt-out p,
    .notice .data-security p,
    .notice .updates p {
        margin-left: 10px; 
    }
}